@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Londrina+Solid&display=swap');

                
body {
    background-color: #C9E4CA;
    font-family: Jost, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0; 
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  
                    
header {
    background-color: #87BBA2;
    display: grid; 
    grid-template-columns: 150px auto;
}

nav {
    background-color: #87BBA2;
    display: flex;
    justify-content: space-around;
}
             
nav a:hover {

    background-color: #55828B;
    color: #05011a;
    
}
nav a {
    text-decoration: none;
    color: #f8fdf8;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    
   
}   

    
    
    
 
                     


.home-title{
    color: #d9c2a3;
    font-family: 'Londrina Solid', Helvetica, sans-serif;
}

             
   

                          

#logo_link {
    background-color: #87BBA2;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-self: center;
    align-self: center;
    
   
}
             
                 

.logo {
   
    width: 60px;
    justify-self: center;
    align-self: center;
    height: 60px;
    
}
.icon{
    width: 70px;

}
#content {
    margin: 0 auto;
    max-width: 1600px;
}   
   

footer {
    background-color: #87BBA2;
    color: white;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer p a:hover {
    text-decoration: underline;
}    

footer p {
    font-size: 0.8em;
    padding: 10px;
}    

h1 {
    margin: 50px 0;
}


a {
    padding: 25px;
    color: white;
}



                             
h2 {
    margin: 0;
}

                    



main section img {
    box-sizing: border-box;
}
            


@media screen and (max-width: 900px) {
    
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    
    footer {
        margin-top: 25px;
    }
}
            